.about-us
  .head-about
    .container
      .head-about__left
        .head-about__title
          .normal-title.mob-title будь
          .normal-title.mob-title всередині
          .normal-title.desk-title будь всередині
          .italic-title гри
      .head-about__figure
      .head-about__logo
        img(src="img/top-logo.png" alt="Favbet")
  .history
    .container
      .history__title
        .normal-title наша
        .italic-title Історія
      .history__wrap
        .history__cup
          img(src="img/cup.gif" alt="Favbet history")
        .history__txt
          .history__txt-paragraph.txt-style.
            Українська беттінгова компанія Favbet всередині гри з 1999-го.
            Коли за МЮ феєрив Райан Гіггз, а Динамо громило Барсу.
          .history__cup-mob
          .history__txt-paragraph.txt-style.
            Ми в курсі, як запалити сірі будні та перетворити рядовий матч
            у фінал Ліги чемпіонів.
          .history__txt-slogan Будь всередині гри з Favbet
  .manifest
    .container
      .manifest__title.normal-title Маніфест
      .manifest__video
        .manifest__video-icon
        .manifest__video-img
        iframe(src="https://www.youtube.com/embed/hTWKbfoikeg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: none;" class="video-iframe")
  .mission
    .container
      .mission__title
        .normal-title наша
        .italic-title Місія
      .mission__img-mob
      .mission__txt.txt-style.
        Favbet - одна команда, в якій кожен гравець робить спорт яскравіше.
  .philosophy
    .container
      .philosophy__wrap
        .philosophy__left
          .philosophy__title
            .normal-title Філософія
            .italic-title гри
          .philosophy__txt
            .philosophy__txt-paragraph.txt-style.
              Favbet - букмекер, якому не байдуже те, як ти ставиш,
              дивишся матч.
            .philosophy__txt-paragraph.txt-style.
              Нам не байдуже стан аматарського футболу та українського
              спорту вцілому.
        .philosophy__right
          .philosophy__right-logo.quad-logo
      .philosophy__map-wrap
        .philosophy__map.map-ua
        .philosophy__guy
  .fans
    .container
      .fans__logo.quad-logo
      .fans__title
        .normal-title Об'єднуємо
        .normal-title фанів спорту
        .italic-title по Європі
  .game
    .container
      .game__title
        .normal-title.mob-title Ми
        .normal-title.mob-title всередині
        .normal-title.desk-title Ми всередині
        .italic-title кожної гри
      ul.game__list
        li.game__list-item
          .game__logo
            .game__icon
            a(href="#").game__link
            .game__logo-left
          .game__txt Нестаріючі хіти та запальні #[br] новинки від світових провайдерів
        li.game__list-item
          .game__logo
            .game__icon
            a(href="#").game__link
            .game__logo-right
          .game__txt Cтавки на топові #[br] кіберспортивні баталії
  .team
    .container
      .team__title
        .normal-title Наша
        .italic-title команда
      .team__controls
        .team__controls-left
        .team__controls-count
          span.current 2
          span.all 5
        .team__controls-right
      .team__slider#slider
        .team__slide
          .img-wrap
            img(src="img/team-1.png" alt="Favbet team")
          .team__name
            .team__name-first Ярмоленко
            .team__name-second Андрій
        .team__slide
          .img-wrap
            img(src="img/team-2.png" alt="Favbet team")
          .team__name
            .team__name-first Ракитич
            .team__name-second Іван
        .team__slide
          .img-wrap
            img(src="img/team-3.png" alt="Favbet team")
          .team__name
            .team__name-first Глєб
            .team__name-second Олександр
        .team__slide
          .img-wrap
            img(src="img/team-4.png" alt="Favbet team")
          .team__name
            .team__name-first Мілевський
            .team__name-second Артем
        .team__slide
          .img-wrap
            img(src="img/team-5.png" alt="Favbet team")
          .team__name
            .team__name-first Вацко
            .team__name-second Віктор
        .team__slide
          .img-wrap
            img(src="img/team-6.png" alt="Favbet team")
          .team__name
            .team__name-first Денисов
            .team__name-second Олександр
        .team__slide
          .img-wrap
            img(src="img/team-7.png" alt="Favbet team")
          .team__name
            .team__name-first Янович
            .team__name-second Євген
        .team__slide
          .img-wrap
            img(src="img/team-8.png" alt="Favbet team")
          .team__name
            .team__name-first Беринчик
            .team__name-second Денис
        .team__slide
          .img-wrap
            img(src="img/team-9.png" alt="Favbet team")
          .team__name
            .team__name-first Хрговіч
            .team__name-second Філіп
        .team__slide
          .img-wrap
            img(src="img/team-10.png" alt="Favbet team")
          .team__name
            .team__name-first Фаниян
            .team__name-second Арам
        .team__slide
          .img-wrap
            img(src="img/team-11.png" alt="Favbet team")
          .team__name
            .team__name-first Муту
            .team__name-second Адріан
        .team__slide
          .img-wrap
            img(src="img/team-12.png" alt="Favbet team")
          .team__name
            .team__name-first Полякова
            .team__name-second Ольга
  .football
    .container
      .football__title
        .normal-title Прокачуємо
        .italic-title футбол
      ul.football__list
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-1.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-2.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-3.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-4.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-5.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-6.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-7.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-8.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-9.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-10.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-11.png" alt="Favbet football")
        li.football__list-item
          a(href="#")
            img(src="img/football-logo-12.png" alt="Favbet football")
  .play
    .container
      .play__title
        .normal-title Грай
        .italic-title відповідально
      .play__wrap
        .play__left
          .play__left-paragraph.txt-style.
            З давна і до сьогодні людство грає та грається. Ігри розвиваються,
            ігри розвивають.
          .play__left-paragraph.txt-style.
            Саме тому хочемо, щоб ти отримував від процесу гри тільки
            приємні емоції та розвиток.
          .play__left-paragraph.txt-style.
            Стежимо, щоб до гри допускалися особи лише від 21-го року.
        .play__center
        .play__right
          .play__right-paragraph.txt-style.
            Допомагаємо гравцям впоратися з кризовими ситуаціями у грі.
          .play__right-paragraph.txt-style.
            Та інвестуємо у боротьбу з ігровою залежністю.
          .play__right-paragraph.txt-style.
            Будь всередині гри, але грай відповідально.
  .app
    .container
      .app__left
        .app__title
          .normal-title.mob-title Будь
          .normal-title.mob-title всередині
          .normal-title.desk-title Будь всередині
          .br
            .normal-title гри з
            .italic-title додатком
          .normal-title Favbet
        .app__market
          a(href="#" target="_blank").app__market-apple
          a(href="#" target="_blank").app__market-google
      .app__right
    .app__market-mob
      a(href="#" target="_blank").app__market-apple
      a(href="#" target="_blank").app__market-google
  .social
    .social__title-wrap
      .social__title
        .normal-title.mob-title Будь
        .normal-title.mob-title всередині
        .normal-title.desk-title Будь всередині
        .normal-title гри з
        .italic-title соцмережами
        .normal-title Favbet
    .social__list-wrap
      .social__list
        a(href="#" target="_blank").social__list-item.social-fb
        a(href="#" target="_blank").social__list-item.social-insta
        a(href="#" target="_blank").social__list-item.social-youtube
        a(href="#" target="_blank").social__list-item.social-telegram
        a(href="#" target="_blank").social__list-item.social-tiktok
        a(href="#" target="_blank").social__list-item.social-viber
  .footer-about
    .container
      .footer-about__title
        .normal-title Долучайся
        .br
          .normal-title до
          .italic-title команди
        .normal-title Favbet
      .footer-about__links
        a(href="#" target="_blank").footer-about__link work.ua
        a(href="#" target="_blank").footer-about__link rabota.ua